In [23]:
import pandas as pd

read the fines.csv that you saved in the previous exercise

In [24]:
df = pd.read_csv('../data/fines.csv')
df

        CarNumber  Refund    Fines    Make  Model  Year
0    Y163O8161RUS       2   3200.0    Ford  Focus  1989
1     E432XX77RUS       1   6500.0  Toyota  Camry  1995
2     7184TT36RUS       1   2100.0    Ford  Focus  1984
3    X582HE161RUS       2   2000.0    Ford  Focus  2015
4    92918M178RUS       1   5700.0    Ford  Focus  2014
..            ...     ...      ...     ...    ...   ...
925   X000XX00RUS       1   5800.0  Toyota  Focus  2017
926   X111XX11RUS       1  41700.0    Ford  Focus  2008
927   X222XX22RUS       1    200.0    Ford  Focus  1985
928   X333XX33RUS       2    800.0    Ford  Focus  2000
929   X444XX44RUS       1   7000.0    Ford  Focus  1987

[930 rows x 6 columns]

in all the following subtasks, you need to calculate fines/refund*year for each row 

and create a new column with the calculated data and measure the time using the magic command %%timeit in the cell

loop: write a function that iterates through the dataframe using for i in range(0, len(df)), iloc and append() to a list, 

assign the result of the function to a new column in the dataframe

In [25]:
%%time
new_col = []

for i in range(0, len(df)):
    new_col.append(df.iloc[i]['Fines'] / (df.iloc[i]['Refund'] * df.iloc[i]['Year']))

df['Fines / Refund * Year'] = new_col

CPU times: user 241 ms, sys: 2.67 ms, total: 243 ms
Wall time: 250 ms

In [26]:
df

        CarNumber  Refund    Fines    Make  Model  Year  Fines / Refund * Year
0    Y163O8161RUS       2   3200.0    Ford  Focus  1989               0.804424
1     E432XX77RUS       1   6500.0  Toyota  Camry  1995               3.258145
2     7184TT36RUS       1   2100.0    Ford  Focus  1984               1.058468
3    X582HE161RUS       2   2000.0    Ford  Focus  2015               0.496278
4    92918M178RUS       1   5700.0    Ford  Focus  2014               2.830189
..            ...     ...      ...     ...    ...   ...                    ...
925   X000XX00RUS       1   5800.0  Toyota  Focus  2017               2.875558
926   X111XX11RUS       1  41700.0    Ford  Focus  2008              20.766932
927   X222XX22RUS       1    200.0    Ford  Focus  1985               0.100756
928   X333XX33RUS       2    800.0    Ford  Focus  2000               0.200000
929   X444XX44RUS       1   7000.0    Ford  Focus  1987               3.522899

[930 rows x 7 columns]

do it using iterrows()

In [27]:
%%time
new_col = []

for index, row in df.iterrows():
    new_col.append(row['Fines'] / (row['Refund'] * row['Year']))

df['Fines / Refund * Year'] = new_col

CPU times: user 49.7 ms, sys: 1.32 ms, total: 51.1 ms
Wall time: 50.4 ms

do it using apply() and lambda function

In [28]:
%%time
df['Fines / Refund * Year'] = df.apply(
    lambda row: row['Fines'] / (row['Refund'] * row['Year']), axis=1
    )

CPU times: user 13.7 ms, sys: 939 µs, total: 14.6 ms
Wall time: 14.4 ms

do it using Series objects from the dataframe

In [29]:
%%time
df['Fines / Refund * Year'] = df['Fines'] / (df['Refund'] * df['Year'])

CPU times: user 699 µs, sys: 22 µs, total: 721 µs
Wall time: 711 µs

do it as in the previous subtask but with the method .values

In [30]:
%%time
df['Fines / Refund * Year'] = df['Fines'].values / (
    df['Refund'].values * df['Year'].values
    )

CPU times: user 326 µs, sys: 42 µs, total: 368 µs
Wall time: 345 µs

get a row for a specific CarNumber, for example, ’O136HO197RUS’

In [31]:
%%time
df.loc[df['CarNumber'] == 'O136HO197RUS']

CPU times: user 971 µs, sys: 109 µs, total: 1.08 ms
Wall time: 949 µs

,CarNumber,Refund,Fines,Make,Model,Year,Fines / Refund * Year
715,O136HO197RUS,2,7800.0,Toyota,Corolla,1989,1.960784
902,O136HO197RUS,1,500.0,Toyota,Corolla,1987,0.251636

set the index in your dataframe with CarNumber

In [32]:
df1 = df.set_index('CarNumber')

again, get a row for the same CarNumber

In [33]:
%%time
df1.loc['O136HO197RUS']

CPU times: user 1.16 ms, sys: 345 µs, total: 1.5 ms
Wall time: 1.31 ms

              Refund   Fines    Make    Model  Year  Fines / Refund * Year
CarNumber
O136HO197RUS       2  7800.0  Toyota  Corolla  1989               1.960784
O136HO197RUS       1   500.0  Toyota  Corolla  1987               0.251636

run df.info(memory_usage=’deep’), pay attention to the Dtype and the mem- ory usage

In [34]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930 entries, 0 to 929
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CarNumber              930 non-null    object
 1   Refund                 930 non-null    int64
 2   Fines                  930 non-null    float64
 3   Make                   930 non-null    object
 4   Model                  919 non-null    object
 5   Year                   930 non-null    int64
 6   Fines / Refund * Year  930 non-null    float64
dtypes: float64(2), int64(2), object(3)
memory usage: 203.8 KB

make a copy() of your initial dataframe into another dataframe optimized

In [35]:
df_optimized = df.copy()

downcast from float64 to float32 for all the columns
downcast from int64 to the smallest numerical dtype possible

In [36]:
df_optimized['Fines'] = pd.to_numeric(df_optimized['Fines'], downcast='float')
df_optimized['Refund'] = pd.to_numeric(df_optimized['Refund'], downcast='integer')
df_optimized['Year'] = pd.to_numeric(df_optimized['Year'], downcast='integer')

run info(memory_usage=’deep’) for your new dataframe, pay attention to the Dtype and the memory usage

In [37]:
df_optimized.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930 entries, 0 to 929
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CarNumber              930 non-null    object
 1   Refund                 930 non-null    int8
 2   Fines                  930 non-null    float32
 3   Make                   930 non-null    object
 4   Model                  919 non-null    object
 5   Year                   930 non-null    int16
 6   Fines / Refund * Year  930 non-null    float64
dtypes: float32(1), float64(1), int16(1), int8(1), object(3)
memory usage: 188.4 KB

change the object type columns to the type category

In [38]:
df_optimized['Make'] = df_optimized['Make'].astype('category')
df_optimized['Model'] = df_optimized['Model'].astype('category')

This time, check the memory usage, it probably has a decrease of 2-3 times compared to the initial dataframe

In [39]:
df_optimized.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930 entries, 0 to 929
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CarNumber              930 non-null    object
 1   Refund                 930 non-null    int8
 2   Fines                  930 non-null    float32
 3   Make                   930 non-null    category
 4   Model                  919 non-null    category
 5   Year                   930 non-null    int16
 6   Fines / Refund * Year  930 non-null    float64
dtypes: category(2), float32(1), float64(1), int16(1), int8(1), object(1)
memory usage: 79.6 KB

using %reset_selective and the library gc clean the memory of your initial dataframe only

In [40]:
%reset_selective -f df

In [41]:
df
# объект не найден, значит память зафришилась

NameError: name 'df' is not defined